* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.event-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 65%;
    width: 300px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.event-card img {
    width: 100%;
    height: auto;
}
.event-card .content {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-card .content h2 {
    font-size: 18px;
    margin: 0 0 16px 0;
}
.event-card .content p {
    font-size: 14px;
    color: #555;
    margin: 0 0 16px 0;
}
.event-card .content a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
}
.event-card .content a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 668px) {
    .event-card {
        width: 90%;
        height: 95%;
    }
    
}