* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    & img {
        width: 30px;
        & :hover {
            cursor: pointer;
        }
    }
    & :nth-child(1) {
        width: 50px;
    }
    & :nth-child(5) {
       display: none;
    }
    & div {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & img {
            width: 30px;
            margin-right: 3%;
        }
        & #search {
            margin-left: 30%;
            margin-right: 2%;
            width: 70%;
            padding: 7px;
            border-radius: 7px;
        }
    }
    & ul {
        margin: 10px;
        display: flex;
        list-style: none;
        & li {
            margin-left: 40px;
            font-weight: bolder;
            & a {
                text-decoration: none;
                color: black;
                
            }
            & a:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
 
@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        & img {
            width: 30px;
            & :hover {
                cursor: pointer;
            }
        }
        & :nth-child(1) {
            width: 60px;
        }
        & :nth-child(4) {
            margin-left: 60%;
         }
        & :nth-child(5) {
            display: flex;
            width: 30px;
        }
        & div {
            display: none;
        }
        & ul {
            display: none;
        }
    }
    
}
